LEAF_DB=jdbc:sqlite:/var/lib/leaf/leaf.db
LEAF_S3_BUCKET={{ leaf_s3.bucket }}
LEAF_S3_ENDPOINT={{ leaf_s3.endpoint }}
LEAF_S3_ACCESS_KEY_ID={{ leaf_s3.access_key_id }}
LEAF_S3_SECRET_ACCESS_KEY={{ leaf_s3.secret_access_key }}
LEAF_S3_REGION={{ leaf_s3.region | default('auto') }}
LEAF_S3_PATH_STYLE={{ leaf_s3.path_style | default(true) | string | lower }}

LEAF_API_HOST={{ leaf_api_host }}
LEAF_APP_HOST={{ leaf_app_host }}

JAVA_OPTS=-Djna.library.path=/opt/leaf/lib
