{
	cert_issuer acme {
		dir {{ caddy_acme_dir }}
		profile shortlived
	}
	renewal_window_ratio 0.5
	servers {
		protocols {{ caddy_protocols }}
	}
}

(access_log) {
	log
}

(baseline_headers) {
	header ?Content-Security-Policy "default-src 'none'; {{ caddy_csp_restrictions }}"
	header Cross-Origin-Embedder-Policy "require-corp"
	header Cross-Origin-Opener-Policy "same-origin"
	header Cross-Origin-Resource-Policy "same-origin"
	header Origin-Agent-Cluster "?1"
	header +Permissions-Policy "{{ caddy_permissions_policy }}"
	header Referrer-Policy "no-referrer"
	header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
	header X-Content-Type-Options "nosniff"
	header X-Frame-Options "DENY"
	header X-XSS-Protection "0"
}
