{% include 'Caddyfile-global.j2' +%}

{{ mail_hostname }} {
	redir / https://{{ mail_origin }}/ permanent
	respond 404
	import access_log
	import baseline_headers
}
{% for domain in mail_domains %}
mta-sts.{{ domain }} {
	handle /.well-known/mta-sts.txt {
		root * {{ mail_mtasts_root }}
		file_server
		header Content-Type "text/plain; charset=utf-8"
	}
	handle {
		redir / https://{{ domain }}/ permanent
		respond 404
	}
	import access_log
	import baseline_headers
}
{% endfor -%}
