{% include 'Caddyfile-global.j2' +%}

{{ leaf_app_host }} {
	encode zstd gzip
	reverse_proxy 127.0.0.1:8080
	import access_log
	import baseline_headers
}

{{ leaf_site_host }} {
	root * {{ leaf_static_root }}
	@static {
		file
		not path /
	}
	handle @static {
		file_server
	}
	handle {
		redir / https://{{ leaf_app_host }}/ temporary
		respond 404
	}
	import access_log
	import baseline_headers
}

{{ leaf_www_host }} {
	redir https://{{ leaf_site_host }}{uri} permanent
	import access_log
	import baseline_headers
}
